
@{
    ViewBag.Title = "Index";
}

<h2>SignalR Chat</h2>

<div id="chat" class="panel panel-default"></div>
<form style="margin-top: 10px" class="form-inline">
    <input class="form-control" type="text" id="message" placeholder="input your message here" style="width:200px" />
    <button class="btn btn-primary" id="send" type="submit" disabled>Send</button>
    <button class="btn btn-default" id="btnJoin" type="button">Join the chat</button>
</form>
